# envs
.env
.venv
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# test images
.jpg

# Output folders
__pycache__/
checkpoints/
logs/
old_logs/
valaccs/
plots/

# Random Scripts
data_preparation/temp.py
